<?xml version="1.0"?>
<launch>
    <!-- Add all launch files that you want to run additionally to your robot bringup like moveit, etc... -->
    <node name="publisher1" pkg="rostopic" type="rostopic" args="pub topic1 std_msgs/String 'data: 'hello'' -r11" output="screen"/> 
    <node name="publisher2" pkg="rostopic" type="rostopic" args="pub topic2 std_msgs/String 'data: 'hello'' -r22" output="screen"/>
    <node name="publisher3" pkg="rostopic" type="rostopic" args="pub topic3 std_msgs/String 'data: 'hello'' -r33" output="screen"/>
</launch>
