<?xml version="1.0"?>
<launch>
    <!-- Add all launch files that you want to run additionally to your robot bringup like moveit, etc... -->
    <node name="publisher1" pkg="rostopic" type="rostopic" args="pub topic1 std_msgs/String 'data: 'hello'' -r11" output="screen"/> 
    <node name="publisher2" pkg="rostopic" type="rostopic" args="pub topic2 std_msgs/String 'data: 'hello'' -r22" output="screen"/>
    <node name="publisher3" pkg="rostopic" type="rostopic" args="pub topic3 std_msgs/String 'data: 'hello'' -r33" output="screen"/>
    <node name="publisher4" pkg="rostopic" type="rostopic" args="pub topic4 std_msgs/String 'data: 'hello'' -r44" output="screen"/>
    <node name="publisher5" pkg="rostopic" type="rostopic" args="pub topic5 std_msgs/String 'data: 'hello'' -r55" output="screen"/>
    <node name="publisher6" pkg="rostopic" type="rostopic" args="pub topic6 std_msgs/String 'data: 'hello'' -r66" output="screen"/>
    <node name="publisher7" pkg="rostopic" type="rostopic" args="pub topic7 std_msgs/String 'data: 'hello'' -r77" output="screen"/>
    <node name="publisher8" pkg="rostopic" type="rostopic" args="pub topic8 std_msgs/String 'data: 'hello'' -r88" output="screen"/>
    <node name="publisher9" pkg="rostopic" type="rostopic" args="pub topic9 std_msgs/String 'data: 'hello'' -r99" output="screen"/>
    <node pkg="tf2_ros" type="static_transform_publisher" name="reference1_static_transform_publisher" args="0 0 0 0 0 0 reference1 reference1_static" />
</launch>
