#test_detail .modal-body {

}
#test_list_content {
    display: none;
}
#resources {
    display: none;
}
#path_length {
    display: none;
}
#time {
    display: none;
}
.plot {
    width: 800px;
    min-width: 310px;
    height: 300px;
}