<?xml version="1.0"?>
<launch>

    <node pkg="atf_testing" type="automatic_testing.py" name="automatic_testing" respawn="false" output="screen">
        <param name="bagfile_output" value="$(find atf_recorder)/data/" />
        <param name="test_suite_file" value="$(find atf_testing)/config/test_suite.yaml" />
        <param name="test_config_file" value="$(find atf_testing)/config/test_config.yaml" />
        <param name="robot_config_path" value="$(find cob_grasping)/config/" />
    </node>

</launch>