<?xml version="1.0"?>
<launch>

    <!-- play recordings -->
    <node pkg="rosbag" type="play" name="player" output="screen" args="--clock $(find cob_benchmarking)/results/test_1.bag">
        <remap from="/testing/tf" to="/tf" />
        <remap from="/testing/execution_2/Trigger" to="/trigger" />
    </node>
    <!--<node pkg="atf_testing" type="tf_broadcaster.py" name="node_under_test" respawn="false" output="screen" />-->

    <!-- analysis node -->
    <node pkg="atf_testing" type="test1.py" name="test1" respawn="false" output="screen" />

</launch>
