<?xml version="1.0"?>
<launch>

	<!-- node unter test -->
	<node pkg="atf_testing" type="tf_broadcaster.py" name="node_under_test" respawn="false" output="screen" >
	</node>

	<!-- recorder -->
	<node pkg="atf_testing" type="recorder.py" name="recorder" respawn="false" output="screen" >
	</node>

</launch>
