<?xml version="1.0"?>
<launch>

	<!-- play recordings -->
	<node pkg="rosbag" type="play" name="player" args="/home/fmw/test1.bag" respawn="false" output="screen" >
	</node>

	<!-- analysis node -->
	<node pkg="atf_testing" type="test1.py" name="test1" respawn="false" output="screen" >
	</node>

</launch>
