name: CI

on: [push, pull_request]

jobs:
  industrial_ci:
    env:
      CATKIN_LINT: pedantic
      NOT_TEST_DOWNSTREAM: true
      PYLINT_ARGS: "--output-format=parseable --errors-only --ignored-modules=tf2_ros"
      PYLINT2_CHECK: true
      PYLINT3_CHECK: false
      PARALLEL_TESTS: true
      ROS_REPO: ros
      VERBOSE_OUTPUT: false
      VERBOSE_TESTS: true
    strategy:
      matrix:
        env:
          - {ROS_DISTRO: kinetic}
          - {ROS_DISTRO: melodic}
#          - {ROS_DISTRO: noetic}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: 'fmessmer/industrial_ci@master_pylint'
        env: ${{matrix.env}}
